<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assent/css/Footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Footer</title>
</head>
<body>
    <Footer>
        <div class="Decoration"></div>
        <div class="Footer-main">
            <div class="LogoTipo-Footer">
                <img src="/Assent/img/Logo_v2.png" alt="Logo" width="35px" height="35px">
                <h3>Fundación Nuestros</h3>
                <h3 class="h3_2">Niños CMDA</h3>
            </div>
            <div class="Redes-Sociales">
                <h3>Redes Sociales</h3>
                <a href="">Youtube</a><br>
                <a href="">Intagram</a><br>
                <a href="">Facebook</a>
            </div>
            <div class="Contacto-Footer">
                <h3>Contacto</h3>
                <a href="">+52 55 5555 5555</a><br>
                <a href="">ongnuestrosninos@gmail.com</a>
            </div>
            <div class="Lorem">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim blanditiis eaque omnis iste delectus suscipit dolor eum, sapiente consequatur tempore repellat alias.</p><br>
            </div>
        </div>
        <center><p class="Derechos">Fundacion Nuestros Niños © 2024. Derechos Reservados </p></center>
        
    </Footer>
            
</body>

</html>