body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    z-index: 10;
    transform: translateY(-50%);
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel {
    position: relative;
    top: 25%;
    width: 90%;
    height: 600px;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    position: relative;
    min-width: 100%; /* Ajusta para que solo se muestre una imagen a la vez */
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}


.view-all-button {
    position: relative;
    top: -40%;
    display: inline-block;
    margin-top: 10px;
    padding: 12px 24px;
    background:  rgba(129, 15, 76, 0.868);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
}

.view-all-button:hover {
    background: rgba(129, 15, 76, 0.868);
    color: #fff;
    border-color:rgba(231, 33, 139, 0.868);
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.view-all-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
