body{
    justify-content: center;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    height: 240vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.absolute{
    position: fixed;
    top: 50px !important;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}
.bg-shape1 {
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 9999px;
    animation: one 10s ease-in-out infinite alternate;
}

.bg-shape2 {
    position: absolute;
    width: 200px;
    height: 300px;
    border-radius: 9999px;
    animation: two 10s ease-in infinite alternate;
}

.bg-shape3 {
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 9999px;
    animation: three 10s ease-out infinite alternate;
}

@keyframes one {
    0% {left: 20%; top: 30%;}
    25% {left: 10%; top: 40%;}
    50% {left: 30%; top: 50%;}
    75% {left: 20%; top: 60%;}
    100% {left: 10%; top: 70%;}
}

@keyframes two {
    0% {right: 20%; top: 10%;}
    25% {right: 15%; top: 30%;}
    50% {right: 25%; top: 50%;}
    75% {right: 15%; top: 70%;}
    100% {right: 10%; top: 60%;}
}

@keyframes three {
    0% {right: 15%; top: 20%;}
    25% {right: 10%; top: 35%;}
    50% {right: 25%; top: 50%;}
    75% {right: 20%; top: 65%;}
    100% {right: 15%; top: 80%;}
}

.opacity-50{
    opacity: 0.5;
}
.bg-blur{
    filter: blur(90px);
}
.bg-primary{
    background-color:rgb(30,0,255);
}
.bg-teal{
    background-color:rgb(255,72,173);
}
.bg-purple{
    background-color:rgb(140,0,215);
}

@media (max-width: 1024px) {
    .Logo-incio{
        position: absolute;
        top: 40%;
        transition: 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .bg-shape1 {
        position: absolute;
        width: 300px;
        height: 200px;
        border-radius: 9999px;
        animation: one 10s ease-in-out infinite alternate;
    }
    
    .bg-shape2 {
        position: absolute;
        width: 200px;
        height: 100px;
        border-radius: 9999px;
        animation: two 10s ease-in infinite alternate;
    }
    
    .bg-shape3 {
        position: absolute;
        width: 200px;
        height: 100px;
        border-radius: 9999px;
        animation: three 10s ease-out infinite alternate;
    }

}

@media (max-width: 480px) {
    .Logo-incio{
        position: absolute;
        top: 30%;
        transition: 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    Footer{
        position: absolute;
        top: 300vh;
    }
    body{
        height: 300vh;

    }


}